Port 2222

HostKey /var/lib/ssh/ssh_host_rsa_key

PidFile /var/lib/ssh/sshd.pid

GatewayPorts yes

UsePrivilegeSeparation no

#SyslogFacility AUTHPRIV

#AuthorizedKeysFile     .ssh/authorized_keys

PasswordAuthentication no

#ChallengeResponseAuthentication no

#GSSAPIAuthentication yes
#GSSAPICleanupCredentials no

#UsePAM yes

#AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
#AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
#AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
#AcceptEnv XMODIFIERS
#
#Subsystem      sftp    /usr/libexec/openssh/sftp-server

