{{ range $i, $namespace := .AllNamespaces -}}
  {{- if ne $i 0 -}}
---
  {{ end -}}
apiVersion: rbac.authorization.k8s.io/v1
  {{- if $.ClusterWide }}
kind: ClusterRoleBinding
  {{- else }}
kind: RoleBinding
  {{- end }}
metadata:
  {{- if ne $namespace $.TargetNamespace }}
  namespace: {{ $namespace }}
  {{- end }}
  name: openshift-acme
roleRef:
  {{- if $.ClusterWide }}
  kind: ClusterRole
  {{- else }}
  kind: Role
  {{- end }}
  {{- if ne $namespace $.TargetNamespace }}
  namespace: {{ $namespace }}
  {{- end }}
  name: openshift-acme
subjects:
- kind: ServiceAccount
  {{- if $.ClusterWide }}
  namespace: {{ $.TargetNamespace }}
  {{- end }}
  name: openshift-acme
{{ end -}}
